ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.carousel {
    width: 100%;
}

.carousel-container {
    width: 300px;
    height: 200px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    background: green;
    width: 100%;
    position: absolute;
    height: 50px;
    transition-property: transform;
    transition-timing-function: ease;
}

.active {

}

.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
}

.next-btn {
    right: 0;
}

.prev-btn {
    left: 0;
}